package pages;

import "m1thrandir225/loits/templates/layouts"

templ BooksPage(pageData layouts.PageData) {
	@layouts.BaseTemplate(true, pageData) {
		<div>
			<h1>Your Magic Books </h1>
		</div>
	}
}
