package pages;

import "m1thrandir225/loits/templates/layouts"

templ HomePage(pageData layouts.PageData) {
	@layouts.BaseTemplate(true, pageData) {
		<div class="flex flex-col items-start py-4">
			<h1>Welcome to Loits </h1>
			<p>your personal spellbook manager </p>
		</div>
	}
}
