package pages;

import "m1thrandir225/loits/templates/layouts"

templ ProfilePage(pageData layouts.PageData) {
	@layouts.BaseTemplate(true, pageData) {
		<div>
			<h1>Your Profile </h1>
		</div>
	}
}
