package templates

import "m1thrandir225/loits/templates/layouts"

templ HomePage(name string) {
	@layouts.BaseTemplate(true) {
	    <div>
	        <h1 class="text-2xl text-black"> Hello World </h1>
	    </div>
	}
}
